.grid-60-40::after, .grid-3::after, .top-bar::after {
  display: block;
  content: "";
  clear: both; }

.about p, .contact__subtitle, .form__input {
  color: #777;
  line-height: 1.6;
  text-align: justify; }
  .about p span, .contact__subtitle span, .form__input span {
    font-weight: 700;
    color: #222; }
  .about p:not(:last-child), .contact__subtitle:not(:last-child), .form__input:not(:last-child) {
    margin-bottom: 15px; }

.parallax__btn:link span, .parallax__btn:visited span, .parallax__text, .top-bar__links a:link, .top-bar__links a:visited, .form__btn {
  color: #40B8D6;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2em;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: color .2s;
  transition: color .2s; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.title {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-bottom: 60px; }
  .title::after {
    display: block;
    content: "";
    margin: 20px auto;
    height: 4px;
    width: 120px;
    border-radius: 50px;
    background-color: #40B8D6; }
  .title--sm {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: left; }
    .title--sm::after {
      height: 2px;
      width: 60px;
      margin: 10px 0; }

.icon {
  font-size: 16px;
  width: 15px;
  text-align: center;
  color: #40B8D6;
  margin-right: 10px; }

.grid-60-40 > div {
  float: left; }
  .grid-60-40 > div:first-child {
    width: 60%;
    margin-right: 40px; }
  .grid-60-40 > div:last-child {
    width: calc(40% - 40px); }

.grid-3 > div {
  float: left;
  width: calc(100% / 3); }

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 14px; }

input,
select,
textarea,
button {
  outline: none; }

.section {
  padding: 80px 40px; }
  .section--gray {
    background-color: #f9f9f9; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.container-sm {
  max-width: 800px;
  margin: 0 auto; }

.container-form {
  max-width: 600px;
  margin: 0 auto; }

.parallax {
  position: relative;
  height: 220px;
  width: 100%; }
  .parallax__box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .parallax__btn:link, .parallax__btn:visited {
    border: solid 2px #40B8D6;
    display: block;
    padding: 8px 0;
    -webkit-transition: -webkit-box-shadow .4s;
    transition: -webkit-box-shadow .4s;
    transition: box-shadow .4s;
    transition: box-shadow .4s, -webkit-box-shadow .4s;
    font-size: 0; }
    .parallax__btn:link span, .parallax__btn:visited span {
      display: inline-block;
      padding: 0 25px;
      line-height: 45px;
      font-size: 16px;
      -webkit-transition: color .2s;
      transition: color .2s; }
      .parallax__btn:link span i, .parallax__btn:visited span i {
        font-size: 22px;
        -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px); }
    .parallax__btn:link span:first-child, .parallax__btn:visited span:first-child {
      border-right: solid 2px #40B8D6; }
    .parallax__btn:link:hover, .parallax__btn:link:active, .parallax__btn:visited:hover, .parallax__btn:visited:active {
      -webkit-box-shadow: inset 0 0 100px 4px rgba(64, 184, 214, 0.4);
              box-shadow: inset 0 0 100px 4px rgba(64, 184, 214, 0.4); }
  .parallax__text {
    margin-top: 6px;
    font-size: 10px;
    font-weight: 300; }
  .parallax--cv {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url("../img/parallax-bg3.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7)), url("../img/parallax-bg3.jpg");
    background-attachment: fixed;
    background-size: cover; }
  .parallax--git {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url("../img/parallax-bg1.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7)), url("../img/parallax-bg1.jpg");
    background-attachment: fixed;
    background-size: cover; }

.header {
  padding-top: 40px; }

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  border-bottom: solid 4px #40B8D6;
  z-index: 100; }
  .top-bar__languages {
    float: left; }
  .top-bar__links {
    float: right; }
    .top-bar__links a:link, .top-bar__links a:visited {
      display: inline-block;
      margin: 0 12px;
      line-height: 36px;
      font-size: 13px;
      -webkit-transition: color .2s;
      transition: color .2s; }
      .top-bar__links a:link:hover, .top-bar__links a:link:active, .top-bar__links a:visited:hover, .top-bar__links a:visited:active {
        color: #248ca6; }
    .top-bar__links--padding {
      padding-left: 30px; }

.cover {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/cover-bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/cover-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 280px; }
  .cover__title {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Handlee', cursive;
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: .09em; }
    .cover__title span {
      display: block; }
      .cover__title span:last-child {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: .3em; }
  .cover__avatar-slot {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -75px; }

.avatar {
  position: relative;
  border: solid 4px #40B8D6;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../img/avatar.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  .avatar::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/avatar-hover.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s; }
  .avatar:hover::after {
    opacity: 1; }

.menu {
  height: 60px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); }
  .menu__list {
    text-decoration: none;
    text-align: center; }
    .menu__list li {
      display: inline-block;
      margin: 0 20px;
      font-size: 16px;
      letter-spacing: .2em; }
      .menu__list li a:link, .menu__list li a:visited {
        display: block;
        padding: 0 15px;
        color: #222;
        line-height: 60px;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transition: color .3s, background-color .3s;
        transition: color .3s, background-color .3s; }
      .menu__list li a:hover, .menu__list li a:active {
        color: #fff;
        background-color: #40B8D6; }
      .menu__list li:nth-child(1), .menu__list li:nth-child(2) {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px); }
      .menu__list li:nth-child(3), .menu__list li:nth-child(4) {
        -webkit-transform: translateX(125px);
                transform: translateX(125px); }

.contact__subtitle {
  margin-top: -20px;
  text-align: center;
  margin-bottom: 40px; }

.form {
  font-size: 0; }
  .form__group {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px; }
    .form__group:first-child {
      margin-right: 20px; }
    .form__group:nth-child(1), .form__group:nth-child(2) {
      width: calc(50% - 10px); }
  .form__label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px; }
  .form__input {
    border: solid 2px #40B8D6;
    background-color: #f9f9f9;
    width: 100%;
    padding: 5px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s; }
    .form__input:focus {
      -webkit-box-shadow: inset 0 0 3px 2px rgba(64, 184, 214, 0.4);
              box-shadow: inset 0 0 3px 2px rgba(64, 184, 214, 0.4); }
    .form__input--textarea {
      height: 150px; }
  .form__btn {
    display: block;
    border: solid 2px #40B8D6;
    background-color: #f9f9f9;
    width: 100px;
    padding: 8px 5px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s; }
    .form__btn:hover, .form__btn:active {
      -webkit-box-shadow: inset 0 0 3px 2px rgba(64, 184, 214, 0.4);
              box-shadow: inset 0 0 3px 2px rgba(64, 184, 214, 0.4); }

.footer {
  background-color: #222;
  height: 220px; }

/*# sourceMappingURL=main.css.map */