// ---------- VARIABLES
$color-dark: #222;
$color-light: #fff;
$color-main: #40b8d6;
$color-gray-bg: #f9f9f9;
$color-gray: #777;

$color-main-hover: darken($color-main, 15%);

$border-main: solid 4px $color-main;
$border-main-hover: solid 4px $color-main-hover;
$border-main-light: solid 2px $color-main;

// ---------- MIXINS & PLACEHOLDERS

@mixin parallax($img) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7)),
        url($img);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

%clearfix {
    &::after {
        display: block;
        content: '';
        clear: both;
    }
}

.text-gray,
%text-gray {
    color: $color-gray;
    line-height: 1.6;
    text-align: justify;

    & span {
        font-weight: 700;
        color: $color-dark;
    }

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

%text-blue {
    color: $color-main;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s;
}

// ---------- RESET
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

// ---------- HEADINGS & PARAGRAPH

.title {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 60px;

    &::after {
        display: block;
        content: '';
        margin: 20px auto;
        height: 4px;
        width: 120px;
        border-radius: 50px;
        background-color: $color-main;
    }

    &--sm {
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: 600;
        text-align: left;
        &::after {
            height: 2px;
            width: 60px;
            margin: 10px 0;
        }
    }

    &--margin-top-md {
        margin-top: 20px;
    }
    &--margin-top-lg {
        margin-top: 40px;
    }
}

.icon {
    font-size: 16px;
    width: 15px;
    text-align: center;
    color: $color-main;
    margin-right: 10px;
}

.generic-link:link,
.generic-link:visited {
    color: $color-main;
}
.generic-link:hover,
.generic-link:active {
    color: $color-main-hover;
}

// ---------- GRIDS

.grid {
    @extend %clearfix;
    & > div {
        float: left;

        &:not(:last-child) {
            margin-left: 0;
            margin-right: 40px;
        }
    }

    &__item--right {
        float: right !important;

        &:not(:last-child) {
            margin-left: 40px !important;
            margin-right: 0 !important;
        }
    }

    &__item-60 {
        width: 60%;
    }

    &__item-40 {
        width: calc(40% - 40px);
    }
}

.grid-3 {
    @extend %clearfix;
    & > div {
        float: left;
        width: calc(100% / 3);
    }
}

// ---------- SWIPER

.swiper-container {
    padding: 40px 60px;
}

.swiper-wrapper {
    overflow: hidden;
}

.swiper-slide {
    background-color: $color-light;
    padding: 1px;
}

.swiper-pagination-bullet {
    transition: 0.2s !important;
    width: 10px !important;
    height: 10px !important;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background-color: $color-main;
}

.swiper-pagination-white {
    bottom: 0 !important;
}

.swiper-button-white {
    color: $color-main;
    font-size: 22px;
}
.swiper-button-next {
    right: 0px;
}

.swiper-button-prev {
    left: 0px;
}

// ---------- GENERAL

// --- Selection bg and font color changed
::selection {
    background-color: $color-main;
    color: $color-light;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $color-dark;
    font-size: 14px;
}

.section {
    padding: 80px 40px;

    &--gray {
        background-color: $color-gray-bg;
    }
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
}

.container-form {
    max-width: 600px;
    margin: 0 auto;
}

.parallax {
    position: relative;
    height: 220px;
    width: 100%;

    &__box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }

    &__btn:link,
    &__btn:visited {
        border: $border-main-light;
        display: block;
        padding: 8px 0;
        transition: box-shadow 0.4s;
        font-size: 0;

        & span {
            @extend %text-blue;
            display: inline-block;
            padding: 0 25px;
            line-height: 45px;
            font-size: 16px;
            transition: color 0.2s;
            & i {
                font-size: 22px;
                transform: translate(2px, 2px);
            }
        }

        & span:first-child {
            border-right: $border-main-light;
        }

        &:hover,
        &:active {
            box-shadow: inset 0 0 100px 4px rgba(64, 184, 214, 0.4);
        }
    }

    &__text {
        @extend %text-blue;
        font-size: 10px;
        font-weight: 300;

        position: absolute;
        bottom: -20px;
        width: 100%;
    }

    &--cv {
        @include parallax('../img/parallax-bg3.jpeg');
    }

    &--git {
        @include parallax('../img/parallax-bg1.jpeg');
    }
}

// ---------- SECTIONS
.header {
    padding-top: 40px;
}

.top-bar {
    @extend %clearfix;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-dark;
    border-bottom: $border-main;
    z-index: 150;

    &__languages {
        float: left;
    }
    &__links {
        float: right;
        
        &--padding {
            padding-left: 30px;
        }
    }

    & a:link,
        & a:visited {
            @extend %text-blue;
            display: inline-block;
            margin: 0 12px;
            line-height: 36px;
            font-size: 13px;
            transition: color 0.2s;

            &:hover,
            &:active {
                color: $color-main-hover;
            }
        }
}

.cover {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url(../img/cover-bg.jpeg);
    background-size: cover;
    background-position: center;
    height: 280px;

    &__title {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: 'Handlee', cursive;
        color: $color-light;
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 0.09em;
        width: 90%;

        & span {
            display: block;

            &:last-child {
                font-family: 'Open Sans', sans-serif;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 0.3em;
            }
        }
    }

    &__avatar-slot {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -75px;
        z-index: 120;
    }
}

.avatar {
    position: relative;
    border: $border-main;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('../img/angelica-a.png');
    background-size: 120%;
    background-position: center;
    overflow: hidden;

    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('../img/angelica-b.png');
        background-size: 120%;
        background-position: center;
        opacity: 0;
        transition: opacity 0.4s;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }
}

.menu {
    position: relative;
    height: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;

    // position: -webkit-sticky; /* Safari */
    // position: sticky;
    // top: 40px;
    // z-index: 30;

    &__list {
        text-decoration: none;
        text-align: center;

        & li {
            display: inline-block;
            margin: 0 20px;
            font-size: 16px;
            letter-spacing: 0.2em;

            & a:link,
            & a:visited {
                display: block;
                padding: 0 15px;
                color: $color-dark;
                line-height: 60px;
                text-transform: uppercase;
                text-decoration: none;
                transition: color 0.3s, background-color 0.3s;
            }
            & a:hover,
            & a:active {
                color: $color-light;
                background-color: $color-main;
            }

            &:nth-child(1),
            &:nth-child(2) {
                transform: translateX(-100px);
            }

            &:nth-child(3),
            &:nth-child(4) {
                transform: translateX(125px);
            }
        }
    }

    &__mobile-btn {
        display: none;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 24px;
        background: none;
        border: none;
        color: $color-main;
        cursor: pointer;
    }
}

.menu-mobile {
    display: none;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2) inset;
    background-color: #f9f9f9;
    height: 0;
    overflow: hidden;
    transition: height 0.4s;

    &.active {
        height: 255px;
    }

    &__list {
        list-style: none;

        & li {
            display: block;
            width: 100%;

            & a:link,
            & a:visited {
                display: block;
                width: 100%;
                font-size: 15px;
                letter-spacing: 0.2em;
                color: $color-dark;
                line-height: 50px;
                text-transform: uppercase;
                text-decoration: none;
                transition: color 0.3s, background-color 0.3s;
                text-align: center;
                transition: color 0.3s, background-color 0.3s;
                border-bottom: solid 1px #eee;
            }
            & a:hover,
            & a:active {
                color: $color-light;
                background-color: $color-main;
            }
        }
    }
}

.about {
    & p {
        @extend %text-gray;
    }
}

.portfolio {
    &__text {
        @extend %text-gray;
    }

    &__link:link,
    &__link:visited {
        display: inline-block;
        color: $color-main;
        font-weight: 600;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: solid 1px $color-main;

        & i {
            font-size: 16px;
            margin-right: 3px;
        }
    }

    &__btn:link,
    &__btn:visited {
        @extend %text-blue;
        display: inline-block;
        border: $border-main-light;
        margin: 40px 0 0 0;
        padding: 8px 12px;
        transition: box-shadow 0.3s;

        &:hover,
        &:active {
            box-shadow: inset 0 0 3px 2px rgba(64, 184, 214, 0.4);
        }
    }

    &__img {
        width: 100%;
    }
}

.list {
    list-style: none;
    margin-bottom: 20px;

    & li {
        position: relative;
        display: block;
        padding-left: 17px;
        line-height: 1.4;
        margin-bottom: 5px;

        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border: $border-main-light;
            border-radius: 100px;
        }

        &.no-bullet {
            &::before {
                display: none;
            }
        }
    }
}

.contact {
    &__subtitle {
        @extend %text-gray;
        margin-top: -20px;
        text-align: center;
        margin-bottom: 40px;
    }
}

.form {
    font-size: 0;

    &__group {
        display: inline-block;
        width: 100%;
        margin-bottom: 25px;

        &:first-child {
            margin-right: 20px;
        }

        &:nth-child(1),
        &:nth-child(2) {
            width: calc(50% - 10px);
        }
    }

    &__label {
        display: inline-block;
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 16px;
    }

    &__input {
        @extend %text-gray;
        border: $border-main-light;
        background-color: $color-gray-bg;
        width: 100%;
        padding: 5px;
        resize: none;
        font-family: 'Open Sans', sans-serif;
        transition: box-shadow .3s;

        &:focus {
            box-shadow: inset 0 0 3px 2px rgba(64, 184, 214, 0.4);
        }

        &--textarea {
            height: 150px;
        }

        &--error {
            border-color: #cc0000;
            &:focus {
                box-shadow: inset 0 0 3px 2px rgba(204, 0, 0, 0.4);
            }
        }
    }

    &__btn {
        @extend %text-blue;
        display: block;
        border: $border-main-light;
        background-color: $color-gray-bg;
        width: 120px;
        padding: 8px;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        cursor: pointer;
        transition: box-shadow 0.3s;

        &:hover,
        &:active {
            box-shadow: inset 0 0 3px 2px rgba(64, 184, 214, 0.4);
        }
    }
}

.footer {
    background-color: $color-dark;
    color: $color-main;
    line-height: 40px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

// --- MEDIA QUERIES

@media (max-width: 980px) {
    .section {
        padding: 40px;
    }

    .grid {
        & > div {
            width: 100%;

            &:not(:last-child) {
                margin: 0 0 20px 0 !important;
            }
        }

        &__item--right {
            &:not(:last-child) {
                margin: 0 0 20px 0 !important;
            }
        }
    }

    .title {
        margin-bottom: 20px;

        &--portfolio {
            text-align: center;

            &::after {
                margin: 10px auto;
            }
        }
    }

    .portfolio {
        text-align: center;

        &__img {
            display: block;
            max-width: 420px;
            margin: 20px auto 0 auto;
        }
    }

    .contact {
        &__subtitle {
            margin-top: 0;
        }
    }

    .swiper-container {
        max-width: 520px;
        margin: 0 auto;
        padding: 15px 20px 30px 20px;
    }
}

@media (max-width: 920px) {
    .cover {
        &__avatar-slot {
            left: 20px;
            transform: none;
        }
    }

    .menu {
        position: relative;
        height: 50px;

        &__list {
            position: absolute;
            display: none;
        }

        &__mobile-btn {
            display: block;
        }
    }

    .top-bar__languages {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .grid-3 {
        & > div {
            width: 100%;
        }
    }

    .resume {
    }

    .list {
        max-width: 290px;
        margin: 0 auto;
    }

    .title {
        &--sm {
            text-align: center;
            margin-top: 30px;

            &::after {
                margin: 10px auto;
            }
        }
    }
}

@media (max-width: 880px) {
    .section {
        padding: 40px 20px;
    }

    .title {
        font-size: 24px;
        &--sm {
            font-size: 16px;
        }
    }

    .cover {
        height: 220px;

        &__title {
            & span:first-child {
                font-size: 42px;
            }

            & span:last-child {
                font-size: 12px;
            }
        }
    }

    .avatar {
        width: 120px;
        height: 120px;
    }

    .parallax {
        height: 180px;

        &__btn:link,
        &__btn:visited {
            padding: 8px 0;

            & span {
                padding: 0 15px;
                line-height: 25px;
                font-size: 14px;

                & i {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .section {
        padding: 40px 15px;
    }

    .form {
        &__group {
            &:first-child {
                margin-right: 0;
            }

            &:nth-child(1),
            &:nth-child(2) {
                width: 100%;
            }
        }

        &__label {
            font-size: 14px;
        }

        &__input {
            font-size: 14px;
        }
    }
}

@media (max-width: 480px) {
    .cover {
        &__title {
            & span:first-child {
                font-size: 34px;
                white-space: nowrap;
            }

            & span:last-child {
                font-size: 14px;
                white-space: nowrap;
            }
        }
    }
}
