.grid::after, .grid-3::after, .top-bar::after {
  display: block;
  content: '';
  clear: both; }

.text-gray,
.about p,
.portfolio__text,
.contact__subtitle,
.form__input {
  color: #777;
  line-height: 1.6;
  text-align: justify; }
  .text-gray span,
  .about p span,
  .portfolio__text span,
  .contact__subtitle span,
  .form__input span {
    font-weight: 700;
    color: #222; }
  .text-gray:not(:last-child),
  .about p:not(:last-child),
  .portfolio__text:not(:last-child),
  .contact__subtitle:not(:last-child),
  .form__input:not(:last-child) {
    margin-bottom: 15px; }

.parallax__btn:link span, .parallax__btn:visited span, .parallax__text, .top-bar a:link, .top-bar a:visited, .portfolio__btn:link, .portfolio__btn:visited, .form__btn {
  color: #40b8d6;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

.title {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 60px; }
  .title::after {
    display: block;
    content: '';
    margin: 20px auto;
    height: 4px;
    width: 120px;
    border-radius: 50px;
    background-color: #40b8d6; }
  .title--sm {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: left; }
    .title--sm::after {
      height: 2px;
      width: 60px;
      margin: 10px 0; }
  .title--margin-top-md {
    margin-top: 20px; }
  .title--margin-top-lg {
    margin-top: 40px; }

.icon {
  font-size: 16px;
  width: 15px;
  text-align: center;
  color: #40b8d6;
  margin-right: 10px; }

.generic-link:link,
.generic-link:visited {
  color: #40b8d6; }

.generic-link:hover,
.generic-link:active {
  color: #248ca6; }

.grid > div {
  float: left; }
  .grid > div:not(:last-child) {
    margin-left: 0;
    margin-right: 40px; }
.grid__item--right {
  float: right !important; }
  .grid__item--right:not(:last-child) {
    margin-left: 40px !important;
    margin-right: 0 !important; }
.grid__item-60 {
  width: 60%; }
.grid__item-40 {
  width: calc(40% - 40px); }

.grid-3 > div {
  float: left;
  width: calc(100% / 3); }

.swiper-container {
  padding: 40px 60px; }

.swiper-wrapper {
  overflow: hidden; }

.swiper-slide {
  background-color: #fff;
  padding: 1px; }

.swiper-pagination-bullet {
  -webkit-transition: 0.2s !important;
  transition: 0.2s !important;
  width: 10px !important;
  height: 10px !important; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background-color: #40b8d6; }

.swiper-pagination-white {
  bottom: 0 !important; }

.swiper-button-white {
  color: #40b8d6;
  font-size: 22px; }

.swiper-button-next {
  right: 0px; }

.swiper-button-prev {
  left: 0px; }

::-moz-selection {
  background-color: #40b8d6;
  color: #fff; }

::selection {
  background-color: #40b8d6;
  color: #fff; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 14px; }

.section {
  padding: 80px 40px; }
  .section--gray {
    background-color: #f9f9f9; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.container-sm {
  max-width: 800px;
  margin: 0 auto; }

.container-form {
  max-width: 600px;
  margin: 0 auto; }

.parallax {
  position: relative;
  height: 220px;
  width: 100%; }
  .parallax__box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap; }
  .parallax__btn:link, .parallax__btn:visited {
    border: solid 2px #40b8d6;
    display: block;
    padding: 8px 0;
    -webkit-transition: -webkit-box-shadow 0.4s;
    transition: -webkit-box-shadow 0.4s;
    transition: box-shadow 0.4s;
    transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
    font-size: 0; }
    .parallax__btn:link span, .parallax__btn:visited span {
      display: inline-block;
      padding: 0 25px;
      line-height: 45px;
      font-size: 16px;
      -webkit-transition: color 0.2s;
      transition: color 0.2s; }
      .parallax__btn:link span i, .parallax__btn:visited span i {
        font-size: 22px;
        -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px); }
    .parallax__btn:link span:first-child, .parallax__btn:visited span:first-child {
      border-right: solid 2px #40b8d6; }
    .parallax__btn:link:hover, .parallax__btn:link:active, .parallax__btn:visited:hover, .parallax__btn:visited:active {
      -webkit-box-shadow: inset 0 0 100px 4px rgba(64, 184, 214, 0.4);
              box-shadow: inset 0 0 100px 4px rgba(64, 184, 214, 0.4); }
  .parallax__text {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    bottom: -20px;
    width: 100%; }
  .parallax--cv {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url("../img/parallax-bg3.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7)), url("../img/parallax-bg3.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center; }
  .parallax--git {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url("../img/parallax-bg1.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7)), url("../img/parallax-bg1.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center; }

.header {
  padding-top: 40px; }

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  border-bottom: solid 4px #40b8d6;
  z-index: 150; }
  .top-bar__languages {
    float: left; }
  .top-bar__links {
    float: right; }
    .top-bar__links--padding {
      padding-left: 30px; }
  .top-bar a:link, .top-bar a:visited {
    display: inline-block;
    margin: 0 12px;
    line-height: 36px;
    font-size: 13px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .top-bar a:link:hover, .top-bar a:link:active, .top-bar a:visited:hover, .top-bar a:visited:active {
      color: #248ca6; }

.cover {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.55))), url(../img/cover-bg.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/cover-bg.jpeg);
  background-size: cover;
  background-position: center;
  height: 280px; }
  .cover__title {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Handlee', cursive;
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0.09em;
    width: 90%; }
    .cover__title span {
      display: block; }
      .cover__title span:last-child {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.3em; }
  .cover__avatar-slot {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -75px;
    z-index: 120; }

.avatar {
  position: relative;
  border: solid 4px #40b8d6;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("../img/angelica-a.png");
  background-size: 120%;
  background-position: center;
  overflow: hidden; }
  .avatar::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/angelica-b.png");
    background-size: 120%;
    background-position: center;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s; }
  .avatar:hover::after {
    opacity: 1; }

.menu {
  position: relative;
  height: 60px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff; }
  .menu__list {
    text-decoration: none;
    text-align: center; }
    .menu__list li {
      display: inline-block;
      margin: 0 20px;
      font-size: 16px;
      letter-spacing: 0.2em; }
      .menu__list li a:link, .menu__list li a:visited {
        display: block;
        padding: 0 15px;
        color: #222;
        line-height: 60px;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transition: color 0.3s, background-color 0.3s;
        transition: color 0.3s, background-color 0.3s; }
      .menu__list li a:hover, .menu__list li a:active {
        color: #fff;
        background-color: #40b8d6; }
      .menu__list li:nth-child(1), .menu__list li:nth-child(2) {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px); }
      .menu__list li:nth-child(3), .menu__list li:nth-child(4) {
        -webkit-transform: translateX(125px);
                transform: translateX(125px); }
  .menu__mobile-btn {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    color: #40b8d6;
    cursor: pointer; }

.menu-mobile {
  display: none;
  -webkit-box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2) inset;
  background-color: #f9f9f9;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  transition: height 0.4s; }
  .menu-mobile.active {
    height: 255px; }
  .menu-mobile__list {
    list-style: none; }
    .menu-mobile__list li {
      display: block;
      width: 100%; }
      .menu-mobile__list li a:link, .menu-mobile__list li a:visited {
        display: block;
        width: 100%;
        font-size: 15px;
        letter-spacing: 0.2em;
        color: #222;
        line-height: 50px;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transition: color 0.3s, background-color 0.3s;
        transition: color 0.3s, background-color 0.3s;
        text-align: center;
        transition: color 0.3s, background-color 0.3s;
        border-bottom: solid 1px #eee; }
      .menu-mobile__list li a:hover, .menu-mobile__list li a:active {
        color: #fff;
        background-color: #40b8d6; }

.portfolio__link:link, .portfolio__link:visited {
  display: inline-block;
  color: #40b8d6;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: solid 1px #40b8d6; }
  .portfolio__link:link i, .portfolio__link:visited i {
    font-size: 16px;
    margin-right: 3px; }
.portfolio__btn:link, .portfolio__btn:visited {
  display: inline-block;
  border: solid 2px #40b8d6;
  margin: 40px 0 0 0;
  padding: 8px 12px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
  .portfolio__btn:link:hover, .portfolio__btn:link:active, .portfolio__btn:visited:hover, .portfolio__btn:visited:active {
    -webkit-box-shadow: inset 0 0 3px 2px rgba(64, 184, 214, 0.4);
            box-shadow: inset 0 0 3px 2px rgba(64, 184, 214, 0.4); }
.portfolio__img {
  width: 100%; }

.list {
  list-style: none;
  margin-bottom: 20px; }
  .list li {
    position: relative;
    display: block;
    padding-left: 17px;
    line-height: 1.4;
    margin-bottom: 5px; }
    .list li::before {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 10px;
      height: 10px;
      border: solid 2px #40b8d6;
      border-radius: 100px; }
    .list li.no-bullet::before {
      display: none; }

.contact__subtitle {
  margin-top: -20px;
  text-align: center;
  margin-bottom: 40px; }

.form {
  font-size: 0; }
  .form__group {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px; }
    .form__group:first-child {
      margin-right: 20px; }
    .form__group:nth-child(1), .form__group:nth-child(2) {
      width: calc(50% - 10px); }
  .form__label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px; }
  .form__input {
    border: solid 2px #40b8d6;
    background-color: #f9f9f9;
    width: 100%;
    padding: 5px;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s; }
    .form__input:focus {
      -webkit-box-shadow: inset 0 0 3px 2px rgba(64, 184, 214, 0.4);
              box-shadow: inset 0 0 3px 2px rgba(64, 184, 214, 0.4); }
    .form__input--textarea {
      height: 150px; }
    .form__input--error {
      border-color: #cc0000; }
      .form__input--error:focus {
        -webkit-box-shadow: inset 0 0 3px 2px rgba(204, 0, 0, 0.4);
                box-shadow: inset 0 0 3px 2px rgba(204, 0, 0, 0.4); }
  .form__btn {
    display: block;
    border: solid 2px #40b8d6;
    background-color: #f9f9f9;
    width: 120px;
    padding: 8px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    .form__btn:hover, .form__btn:active {
      -webkit-box-shadow: inset 0 0 3px 2px rgba(64, 184, 214, 0.4);
              box-shadow: inset 0 0 3px 2px rgba(64, 184, 214, 0.4); }

.footer {
  background-color: #222;
  color: #40b8d6;
  line-height: 40px;
  font-size: 12px;
  font-weight: 400;
  text-align: center; }

@media (max-width: 980px) {
  .section {
    padding: 40px; }

  .grid > div {
    width: 100%; }
    .grid > div:not(:last-child) {
      margin: 0 0 20px 0 !important; }
  .grid__item--right:not(:last-child) {
    margin: 0 0 20px 0 !important; }

  .title {
    margin-bottom: 20px; }
    .title--portfolio {
      text-align: center; }
      .title--portfolio::after {
        margin: 10px auto; }

  .portfolio {
    text-align: center; }
    .portfolio__img {
      display: block;
      max-width: 420px;
      margin: 20px auto 0 auto; }

  .contact__subtitle {
    margin-top: 0; }

  .swiper-container {
    max-width: 520px;
    margin: 0 auto;
    padding: 15px 20px 30px 20px; } }
@media (max-width: 920px) {
  .cover__avatar-slot {
    left: 20px;
    -webkit-transform: none;
            transform: none; }

  .menu {
    position: relative;
    height: 50px; }
    .menu__list {
      position: absolute;
      display: none; }
    .menu__mobile-btn {
      display: block; }

  .top-bar__languages {
    display: none; }

  .menu-mobile {
    display: block; }

  .grid-3 > div {
    width: 100%; }

  .list {
    max-width: 290px;
    margin: 0 auto; }

  .title--sm {
    text-align: center;
    margin-top: 30px; }
    .title--sm::after {
      margin: 10px auto; } }
@media (max-width: 880px) {
  .section {
    padding: 40px 20px; }

  .title {
    font-size: 24px; }
    .title--sm {
      font-size: 16px; }

  .cover {
    height: 220px; }
    .cover__title span:first-child {
      font-size: 42px; }
    .cover__title span:last-child {
      font-size: 12px; }

  .avatar {
    width: 120px;
    height: 120px; }

  .parallax {
    height: 180px; }
    .parallax__btn:link, .parallax__btn:visited {
      padding: 8px 0; }
      .parallax__btn:link span, .parallax__btn:visited span {
        padding: 0 15px;
        line-height: 25px;
        font-size: 14px; }
        .parallax__btn:link span i, .parallax__btn:visited span i {
          font-size: 20px; } }
@media (max-width: 650px) {
  .section {
    padding: 40px 15px; }

  .form__group:first-child {
    margin-right: 0; }
  .form__group:nth-child(1), .form__group:nth-child(2) {
    width: 100%; }
  .form__label {
    font-size: 14px; }
  .form__input {
    font-size: 14px; } }
@media (max-width: 480px) {
  .cover__title span:first-child {
    font-size: 34px;
    white-space: nowrap; }
  .cover__title span:last-child {
    font-size: 14px;
    white-space: nowrap; } }

/*# sourceMappingURL=main.css.map */