.float-grid::after {
  display: block;
  content: "";
  clear: both; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 14px; }

.section {
  padding: 40px; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.header {
  padding-top: 40px; }

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  border-bottom: solid 4px #40B8D6;
  z-index: 100; }
  .top-bar__languages {
    float: left; }
  .top-bar__links {
    float: right; }
    .top-bar__links a:link, .top-bar__links a:visited {
      display: inline-block;
      margin: 0 12px;
      color: #40B8D6;
      font-weight: 600;
      line-height: 36px;
      font-size: 13px;
      letter-spacing: .1em;
      text-transform: uppercase;
      text-decoration: none;
      -webkit-transition: color .2s;
      transition: color .2s; }
      .top-bar__links a:link:hover, .top-bar__links a:link:active, .top-bar__links a:visited:hover, .top-bar__links a:visited:active {
        color: #248ca6; }
    .top-bar__links--padding {
      padding-left: 30px; }

.cover {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../img/cover-bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/cover-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 280px; }
  .cover__title {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Handlee', cursive;
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: .09em; }
    .cover__title span {
      display: block; }
      .cover__title span:last-child {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: .3em; }
  .cover__avatar-slot {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -100px; }

.avatar {
  position: relative;
  border: solid 4px #40B8D6;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../img/avatar.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  .avatar::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/avatar-hover.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s; }
  .avatar:hover::after {
    opacity: 1; }

.menu {
  height: 60px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); }
  .menu__list {
    text-decoration: none;
    text-align: center; }
    .menu__list li {
      display: inline-block;
      margin: 0 20px;
      font-size: 16px;
      letter-spacing: .2em; }
      .menu__list li a:link, .menu__list li a:visited {
        display: block;
        padding: 0 15px;
        color: #222;
        line-height: 60px;
        text-transform: uppercase;
        text-decoration: none;
        -webkit-transition: color .3s, background-color .3s;
        transition: color .3s, background-color .3s; }
      .menu__list li a:hover, .menu__list li a:active {
        color: #fff;
        background-color: #40B8D6; }
      .menu__list li:nth-child(1), .menu__list li:nth-child(2) {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px); }
      .menu__list li:nth-child(3), .menu__list li:nth-child(4) {
        -webkit-transform: translateX(125px);
                transform: translateX(125px); }

/*# sourceMappingURL=main.css.map */